<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USB app</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">USB APP</a>
      </nav>
    </header>

    <main>
      <!--Main layout-->
      <div>
      </div>
      <div class="container">
        <p class="h1">Your USB Devices</p>
        <div class="row">
          {% for device in devices %}
          <div class="col-4">
            <!--Card-->
            <div class="card wow slide-in-up" data-wow-delay="0.2s">
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{ device.name }}</h4>
                <!--Text-->
                <div class="card-text">
                  <p>ID: {{ device.id }}</p>
                </div>
                <form class="d-flex" method="POST" action="bind/{{ device.bus_identifier }}/">
                  {% csrf_token %}
                  <div class="form-outline">
                    <label class="form-label" for="passwordtobind">Fill Password</label>
                    <input required=True name="bind_password" type="password" id="passwordtobind" class="form-control" />
                  </div>
                  <button class="p-1 btn btn-info">Bind</button>
                </form>
                <form class="d-flex" method="POST" action="unbind/{{ device.bus_identifier }}/">
                  {% csrf_token %}
                  <div class="form-outline">
                    <label class="form-label" for="passwordtobind">Fill Password</label>
                    <input required=True name="unbind_password" type="password" id="passwordtobind" class="form-control" />
                  </div>
                  <button class="p-1 btn btn-danger">Unbind</button>
                </form>
              </div>
            </div>
            <!--/.Card-->
          </div>
          {% endfor %}
        </div>
      </div>
      <!--/.Main layout-->
    </main>

    <!--Footer-->
    <footer class="page-footer text-center text-md-left mt-4 pt-4">
      <!--Copyright-->
      <div class="footer-copyright py-3 text-center">
        <div class="containter-fluid">
          Web Desain is not ours, derived from:
          <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
      </div>
      <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
    ></script>

    <script>
    </script>
  </body>
</html>
